body{
    background-color: rgb(113, 39, 170);
}
.titulo{
    color: blue;
}
.texto1{
    color: rgb(255, 166, 0);
}
.texto2{
    color:rgb(11, 11, 70);
}
.texto3{color:rgb(218, 0, 0);
}
.texto{color: rgb(187, 134, 134);

}
.imagem{
    
}
